{{- $extensions := list
     "ms-vscode-remote.vscode-remote-extensionpack"
     "riussi.code-stats-vscode"
     "ms-azuretools.vscode-docker" -}}


{{- if lookPath "code" -}}

#!/usr/bin/env bash

set -eufo pipefail

{{ range $extensions -}}
code --install-extension {{ . }}
{{ end }}

{{- end -}}