{"github.com:Iv1.b507a08c87ecfe98":{"user":"swchck","oauth_token":"{{ (decrypt (include ".chezmoitemplates/secrets.toml.age") | fromToml).secrets.github_copilot_oauth }}","githubAppId":"Iv1.b507a08c87ecfe98","scopes":["repo","workflow"]}}
