---
# Ghorg — GitHub configuration
# Usage: ghorg clone <user/org> --config=~/.config/ghorg/github.yaml

GHORG_SCM_TYPE: github
GHORG_CLONE_TYPE: user
GHORG_ABSOLUTE_PATH_TO_CLONE_TO: {{ .paths.repo_root }}
GHORG_OUTPUT_DIR: personal
GHORG_GITHUB_TOKEN: {{ (decrypt (include ".chezmoitemplates/secrets.toml.age") | fromToml).secrets.ghorg_github_token }}

{{ template "ghorg-common" . }}
