---
# Ghorg reclone configuration
# https://github.com/gabrie30/ghorg#reclone-command
#
# Usage:
#   ghorg reclone                # run all entries
#   ghorg reclone github         # run only github
#   ghorg reclone gitlab         # run only gitlab
#   ghorg reclone --list         # list all entries

github:
  cmd: ghorg clone {{ .github.user }} --config={{ .chezmoi.homeDir }}/.config/ghorg/github.yaml --clone-type=user
  description: "Clone all personal GitHub repos to {{ .paths.personal }}"
{{ if and (eq .machine_type "work") (hasKey . "gitlab") }}
gitlab:
  cmd: ghorg clone {{ .gitlab.org }} --config={{ .chezmoi.homeDir }}/.config/ghorg/gitlab.yaml --clone-type=org
  description: "Clone all work GitLab repos to {{ .paths.work }}"
{{ end -}}
