#####################
# Colors and Styles #
#####################

# TBD. Need to implement it via tmux plugin

# Set status bar style to default
set -g status-style bg=default,fg=default

# Set window list style to default
set -g window-status-current-format "#[bg=#698DDA,fg=#000000] #I:#W#{?window_zoomed_flag, 󰊓 , }"
