{{ if and (eq .machine_type "work") (hasKey . "openfortivpn") -}}
#########################
#   Host Configuration  #
#########################

host = {{ .openfortivpn.hostname }}
port = {{ .openfortivpn.port }}

#########################
#   User Configuration  #
#########################

username = {{ .openfortivpn.username }}
password = {{ output "security" "find-generic-password" "-a" "chezmoi" "-s" "vpn-primary-password" "-w" | trim }}

#############################
#   Advanced Configuration  #
#############################

set-dns = 0
use-resolveconf = 1
set-routes = 1
half-internet-routes = 0
pppd-use-peerdns = 1
insecure-ssl = 0
cipher-list = HIGH:!aNULL:!kRSA:!PSK:!SRP:!MD5:!RC4
persistent = 10
seclevel-1 = 0
{{ end -}}
