[plugin]
deps = [
    # Git
    { use = "yazi-rs/plugins:git", rev = "main" },
    { use = "yazi-rs/plugins:vcs-files", rev = "main" },

    # File operations
    { use = "yazi-rs/plugins:chmod", rev = "main" },
    { use = "yazi-rs/plugins:diff", rev = "main" },
    { use = "yazi-rs/plugins:smart-filter", rev = "main" },
    { use = "KKV9/compress", rev = "main" },

    # UI
    { use = "Rolv-Apneseth/starship", rev = "main" },
    { use = "yazi-rs/plugins:mactag", rev = "main" },

    # Clipboard
    { use = "XYenon/clipboard", rev = "master" },

    # Previewers
    { use = "boydaihungst/mediainfo", rev = "master" },
    { use = "Sonico98/exifaudio", rev = "master" },
]
