/***************************************************
*             Zellij Configuration File            *
*  https://zellij.dev/documentation/configuration  *
***************************************************/

// Choose what to do when zellij receives SIGTERM, SIGINT, SIGQUIT or SIGHUP eg. 
// when terminal window with an active zellij session is closed
on_force_close "detach"

// Send a request for a simplified ui (without arrow fonts) to plugins if true
simplified_ui false

// Set the default shell to use when creating new terminal panes
default_shell "fish"

// Toggle between having pane frames around the panes
pane_frames true

// Choose the Zellij color theme. This theme must be specified in the themes section or loaded from the themes folder.
// See: https://zellij.dev/documentation/themes
theme "default"

// The name of the layout to load on startup (must be in the layouts folder).
// See: https://zellij.dev/documentation/layouts
default_layout "default"

// Choose the mode that zellij uses when starting up. The default mode is normal.
default_mode "normal"

// Toggle enabling the mouse mode. On certain configurations, or terminals this could potentially interfere with copying text.
mouse_mode false

// Configure the scroll back buffer size This is the number of lines zellij stores for each pane in the scroll back buffer.
// Excess number of lines are discarded in a FIFO fashion.
scroll_buffer_size 100000

// Provide a command to execute when copying text. The text will be piped to the stdin of the program to perform the copy. 
// This can be used with terminal emulators which do not support the OSC 52 ANSI control sequence 
// that will be used by default if this option is not set.

// Example commands:
// x11 - "xclip -selection clipboard"
// wayland - "wl-copy"
// osx - "pbcopy"
copy_command "pbcopy"

// Choose the destination for copied text Allows using the primary selection buffer (on x11/wayland) 
// instead of the system clipboard. Does not apply when using copy_command.
copy_clipboard "system"

// Enable or disable automatic copy (and clear) of selection when releasing mouse
copy_on_select true

// When attaching to an existing session with other users, should the session be mirrored (true) 
// or should each user have their own cursor (false) Default: false
mirror_session true

// The folder in which Zellij will look for layouts
// layout_dir "/path/to/my/layout_dir"

// The folder in which Zellij will look for themes
// theme_dir "/path/to/my/theme_dir"

// A key -> value map of environment variables that will be set for each terminal pane Zellij starts.
// env {
//     "MY_ENV_VAR" = "my_value"
// }

// Set whether the pane frames (if visible) should have rounded corners.
// ui {
//     pane_frames {
//         rounded_corners true
//     }
// }

// Hides the session name (randomly generated or otherwise) from the UI
// ui {
//     pane_frames {
//         hide_session_name true
//     }
// }

// Toggle between having Zellij lay out panes according to a predefined set of layouts whenever possible Options
auto_layout true

// Toggle between supporting the extended "styled_underlines" ANSI protocol and 
// ignoring it (can sometimes cause some issues in unsupported terminals).
styled_underlines true

// If enabled, sessions will be serialized to the cache folder (and thus become resurrectable between reboots or on exit). 
// Read more about session resurrection: https://zellij.dev/documentation/session-resurrection
session_serialization true

// If enabled along with session_serialization, the pane viewport (the visible part of the terminal excluding the scrollback) 
// will be serialized and resurrectable as well. Read more about session resurrection: https://zellij.dev/documentation/session-resurrection
pane_viewport_serialization true

// When pane_viewport_serialization is enabled, setting scrollback_lines_to_serialize to 0 
// in the will serialize all scrollback and to any other number will serialize line number up to that scrollback.
pane_viewport_serialization 0

// Enable or disable writing of session metadata to disk
disable_session_metadata false

// Zellij comes with a default set of keybindings that try to fit as many different users and use cases while trying to maximize comfort for everyone.
// See the default keybindings as reference for the default keybindings: https://github.com/zellij-org/zellij/blob/main/zellij-utils/assets/config/default.kdl
// The keybindings are divided into several modes. Each mode has its separate keybindings.
// The available modes are:
// - normal
// - locked
// - resize
// - pane
// - move
// - tab
// - scroll
// - search
// - entersearch
// - renametab
// - renamepane
// - session
// - tmux
// See Documentation: https://zellij.dev/documentation/keybindings
// keybinds {
//     // keybinds are divided into modes
//     normal {
//         // bind instructions can include one or more keys (both keys will be bound separately)
//         // bind keys can include one or more actions (all actions will be performed with no sequential guarantees)
//         bind "Ctrl g" { SwitchToMode "locked"; }
//         bind "Ctrl p" { SwitchToMode "pane"; }
//         bind "Alt n" { NewPane; }
//         bind "Alt h" "Alt Left" { MoveFocusOrTab "Left"; }
//     }
//     pane {
//         bind "h" "Left" { MoveFocus "Left"; }
//         bind "l" "Right" { MoveFocus "Right"; }
//         bind "j" "Down" { MoveFocus "Down"; }
//         bind "k" "Up" { MoveFocus "Up"; }
//         bind "p" { SwitchFocus; }
//     }
//     locked {
//         bind "Ctrl g" { SwitchToMode "normal"; }
//     }
// }
