{{- $name := promptStringOnce . "name" "What is your name" -}}
{{- $email := promptStringOnce . "email" "What is your email" -}}

[git]
    name = "{{$name}}"
    email = "{{$email}}"

[diff]
    exclude = ["scripts"]