{{- if and (eq .machine_type "work") (hasKey . "gitlab") -}}
machine {{ .gitlab.url }} login {{ .gitlab.user }} password {{ (decrypt (include ".chezmoitemplates/secrets.toml.age") | fromToml).secrets.gitlab_token }}
{{ end -}}
