{{- if and (eq .machine_type "work") (hasKey . "gitlab") -}}
machine {{ .gitlab.url }} login {{ .gitlab.user }} password {{ output "security" "find-generic-password" "-a" "chezmoi" "-s" "gitlab-token" "-w" | trim }}
{{ end -}}
